*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header,
footer{
    height: 40vh;
    background-color: red;
}


main{
    background-color: rgb(209, 217, 53);
}

.jumbotron{
    width: 100vw;
}

.jumbo{
    width: 50%;
    height: 100%;
    border: red solid 20px;
}

.imagen__slide{
    height: 80vh;
}
