*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #eef8ff;
}



.jumbotron{
    width: 100vw;
}

.jumbo__titulo{
    font-size: 60px;
    
}

.jumbo{
    height: 100%;
    border: red solid 10px;
}

.jumbo__diff{
    justify-content: end !important;
    align-items: center !important;
    color: #000000;
}

.boton{
    padding: 3px 15px;
    font-size: 20px;
}

.imagen__slide{
    height: 50vw;
}

.sponsors{
    height: 40vh;
    width: 100vw;
}

.sponsors{
    background: #FFF0C9;
}

.tope{
    width: 100vw;
}




.icono:hover{
border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg) scale(1.2) !important;;
transition: all 1s;
}

.mapaImagen__90{
    cursor: pointer;
}

.mapaImagen__90{
    left: 0%;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    border: #000000 2px solid;
    right: 0%;
    content: "culo de perro";
    position: absolute;
    z-index: 1;
    background-color: #c6ec1e !important;
    color: #000000;
    opacity: 0;
}



.mapaImagen__90::before{
    content: "ejemplo1";
}

.mapaImagen__90:hover{
    opacity: 1;
}

.mapaImagen__76{
    cursor: pointer;
    left: 0%;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    border: #000000 2px solid;
    right: 0%;
    content: "culo de perro";
    position: absolute;
    z-index: 1;
    background-color: #c6ec1e !important;
    color: #000000;
    opacity: 0;
}
.mapaImagen__76:hover{
    opacity: 1;
}

.mapaImagen__76::before{
    content: "ejemplo2";
}

.mapaImagen__imagen{
    border-radius: 10px;
}

.tituloss{
    font-size: 32px;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .mapaImagen{
        display: none;
    }
}

.cabecera{
    z-index: 100;
    margin: 0;
    padding: 0;
}

footer{
    bottom: 0;
    /*
    background-image: url(https://images.vexels.com/media/users/3/75321/raw/f28bfc0bcdaa7db69e2194a3e321b7a8-diseno-de-fondo-de-ondas-verdes.jpg?w=1321&fmt=webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    */
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    padding: 100px 0 30px;
}

.columnas{
    padding: 10px;
}

.logo{
    width: 200px;
    margin-bottom: 30px;
}

.columnas h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email__id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

form{
    flex-wrap: wrap;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 20px;
}

form input,
form textarea{
    width: 93%;
    background: transparent;
    color: #ccc;
    padding: 4px;
    border: 3px solid rgba(247, 247, 247, 0.096);
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas{
    font-size: 16px;
    color: #ccc;
}
form textarea{
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
}

.iconos__sociales .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}


hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.Matea{
    text-align: center;
}